/target/ArchitectFirmBackEnd-1.0-SNAPSHOT.war
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/WEB-INF/classes/com/spacev/ArchitectFirmBackEnd/helper/ConnectionProvider.class
/target/classes/com/spacev/ArchitectFirmBackEnd/helper/ConnectionProvider.class
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/stylesheets/create_account.css
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/pages/create_account.html
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/create_account.html
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/dynamicpages/custo_dashboard.html
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/stylesheets/custo_login.css
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/pages/custo_login.html
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/WEB-INF/classes/com/spacev/ArchitectFirmBackEnd/dao/CustomerDao.class
/target/classes/com/spacev/ArchitectFirmBackEnd/dao/CustomerDao.class
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/WEB-INF/classes/com/spacev/ArchitectFirmBackEnd/entities/Customers.class
/target/classes/com/spacev/ArchitectFirmBackEnd/entities/Customers.class
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/WEB-INF/classes/com/spacev/ArchitectFirmBackEnd/servlets/CustoRegisterServlet.class
/target/classes/com/spacev/ArchitectFirmBackEnd/servlets/CustoRegisterServlet.class
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/dynamicpages/emp_register.jsp
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/stylesheets/firm_login.css
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/pages/firm_login.html
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/stylesheets/forgot_password.css
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/pages/forgot_password.html
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/forgot_password.html
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/lib/javax.annotation.jar
/lib/javax.ejb.jar
/lib/javax.jms.jar
/lib/javax.persistence.jar
/lib/javax.resource.jar
/lib/javax.servlet.jar
/lib/javax.servlet.jsp.jar
/lib/javax.servlet.jsp.jstl.jar
/lib/javax.transaction.jar
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/META-INF/MANIFEST.MF
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/WEB-INF/lib/mariadb-java-client-2.1.2.jar
/target/maven-archiver/pom.properties
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/stylesheets/styles.css
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/stylesheets/utilities.css
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/WEB-INF/classes/com/spacev/ArchitectFirmBackEnd/helper/VendorDetails.class
/target/classes/com/spacev/ArchitectFirmBackEnd/helper/VendorDetails.class
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/WEB-INF/web.xml
/target/ArchitectFirmBackEnd-1.0-SNAPSHOT/images/woman.png
